<div class='ui container'>
  <app-sidebar></app-sidebar>
  <div class='pusher'>
    <br />    
    <h1>Submit a New Post</h1>
    
    <form class="ui form attached fluid segment">
      <div class="two fields">
        <div class="field">
          <label>Title</label>
          <input placeholder="Title" type="text">
        </div>

        <div class="field">
          <label>Category</label>
          <select>
            <option>Guitar</option>
            <option>Drums</option>
            <option>Bass</option>
            <option>DJ and Audio Production</option>
            <option>Other</option>
          </select>
        </div>
      </div>

      <div class="field">
        <label>Info</label>
        <textarea></textarea>
      </div>

      <div class="ui blue submit button">Submit</div>
    </form>
  </div>
</div>