<div class='ui container'>
  <app-sidebar></app-sidebar>
  <div class='pusher'>
    <br />    
    <h1>Submit a New Post</h1>
    
    
    <form class="ui form attached fluid segment" [formGroup]="postForm">
      <div class="two fields">
        <div class="field">
          <label>Title</label>
          <input placeholder="Title" type="text" formControlName="title">
        </div>

        <div class="field">
          <label>Category</label>
          <select formControlName="category">
            <option *ngFor="let category of categoryList" [value]="category">{{ category }}</option>
          </select>
        </div>
      </div>

      <div class="field">
        <label>Body</label>
        <textarea formControlName="body"></textarea>
      </div>

      <button type="button" class="ui blue submit button" (click)="onSubmit(postForm.value)">Submit</button>
    </form>
  </div>
</div>