
<!-- Page Contents -->
<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">

    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="active item" routerLinkActive="active">Home</a>
        <a class="item" routerLink="/about">About</a>
      </div>
    </div>

    <div class="ui text container">
      <h1 class="ui inverted header">
        Audiosphere
      </h1>
      <h2><i class="music icon"></i></h2>
      
      <!--<a class="ui huge facebook button" href="http://127.0.0.1:3000/auth/facebook" target="_self">
      <i class="facebook icon"></i>
      Login With Facebook</a>-->
      
      <button class="ui huge facebook button" (click)="login()"><i class="facebook icon"></i>Login with Facebook</button>
    </div>
  </div>
</div>