<div class="sidebar-container">
  <div
    class="ui container visible fixed inverted left vertical sidebar menu">
    <div class='item'>
      
      <a class='ui header inverted' routerLink='/'><i class='home icon'></i>Home</a>
      
    </div> <!-- item -->

    <div class='item'>
        <img class='ui centered small circular image' src="{{ user.pictureUrl }}" />
        <h4 class='ui header center aligned inverted'>{{ user.firstName }} {{ user.lastName }}</h4>
        <p class='ui inverted' style='text-align:center'>{{ user.email }}</p>
    </div>

    <div class='item' style='text-align: center'>
        <a class='ui button positive' routerLink='/submit'>Create Post</a>   
    </div>
    
  </div> <!-- sidebar menu container -->
</div> <!-- sidebar-container -->
