<div class="sidebar-container">
  <div
    class="ui container visible fixed inverted left vertical sidebar menu">
    <div class='item'>
      <div class='ui header inverted'>Audiosphere</div>
    </div> <!-- item -->

    <div class='item'>
        <img class='ui centered small circular image' src="{{ user.pictureUrl }}" />
        <h4 class='ui header center aligned inverted'>{{ user.firstName }} {{ user.lastName }}</h4>
    </div>

    <!--<div class='item'>
      <div class='menu'>-->
        
      <!--</div> <!-- menu -->
    <!--</div> <!-- item -->
  </div> <!-- sidebar menu container -->
</div> <!-- sidebar-container -->
