<div class='ui container'>
  <app-sidebar></app-sidebar>
  <div class='pusher'>
    <br />
    <h1>Hello from homepage</h1>
    <p>Content posts and text area for new posts will go here</p>

    <div class='ui comments'>
      <form class='ui reply form'>
        <div class='field'>
          <input type='text' placeholder='Title'>
        </div>
        <div class="field">
          <textarea placeholder='Start writing...'></textarea>
        </div>
        <div class="ui blue labeled submit icon button">
          <i class="icon edit"></i> Submit
        </div>
      </form>
    </div>



  </div>
</div>